body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100%;
}

main {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.25);
    width: 270px;
    height: 300;
    padding: 16px 16px 20px 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.image img {
    border-radius: 24px;
    width: 100%;
    height: auto;
}

.box {
    text-align: center;
}

.box h1 {
    color: hsl(218, 44%, 22%);
    width: 270px;
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 10px;
    text-align: center;
}

.box p {
    color: hsl(220, 15%, 55%);
    width: 270px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    padding-right: 50px;
}
